body {
  margin: 20px;
}

.CSSEdit {
  display: none;
}

#txtc {
  color: FireBrick;
}

#bkgdc {
  background-color: LimeGreen;
}

#txtf {
  font-family: Times, serif;
}

#fi {
  display: none;
}

#fo {
  display: none;
}

#cue {
  border-radius: 8px;
}

#jsq {
  border-radius: 8px;
}

#lb {
  border-radius: 8px;
}
#h1cue
{
  border-radius: 8px;
}
